
src/__pycache__/backend.cpython-38.pyc
src/__pycache__/workers.cpython-38.pyc
src/__pycache__/widgets.cpython-38.pyc
src/__pycache__/tables.cpython-38.pyc
src/__pycache__/motif.cpython-38.pyc
src/__pycache__/db.cpython-38.pyc
src/__pycache__/config.cpython-38.pyc
src/GCA_001039765.2.fa.gz
src/__pycache__/utils.cpython-38.pyc
src/__pycache__/filter.cpython-38.pyc
src/__pycache__/preference.cpython-38.pyc
src/GCF_000005845.2.gff.gz
src/GCF_000005845.2.gtf.gz
src/__pycache__/annotate.cpython-38.pyc
src/pygrange.cp38-win_amd64.pyd
src/pygrange.cpython-38-x86_64-linux-gnu.so
src/__pycache__/stats.cpython-38.pyc
src/__pycache__/window.cpython-38.pyc
src/__pycache__/models.cpython-38.pyc
src/__pycache__/process.cpython-38.pyc
src/__pycache__/seqview.cpython-38.pyc
src/GCA_001039765.2.fa.gz.fxi
src/__pycache__/dialog.cpython-38.pyc
src/__pycache__/config.cpython-310.pyc
src/__pycache__/utils.cpython-310.pyc
src/__pycache__/window.cpython-310.pyc
data/chr2.fa.gz
data/chr2.fa.gz.fxi
data/GCF_000001735.4_TAIR10.1_genomic.fna.gz
data/GCF_000001735.4_TAIR10.1_genomic.gff.gz
data/GCF_000001735.4_TAIR10.1_genomic.fna.gz.fxi
data/GCF_000001735.4_TAIR10.1_genomic.gtf.gz
data/ara.kpf
data/dd.kpf
data/GCF_000001405.40_GRCh38.p14_genomic.fna.gz
data/GCF_000001405.40_GRCh38.p14_genomic.fna.gz.fxi
data/GCF_000001405.40_GRCh38.p14_genomic.gff.gz
data/GCF_000001405.40_GRCh38.p14_genomic.gtf.gz
data/GCF_000001635.27_GRCm39_genomic.fna.gz
data/GCF_000003025.6_Sscrofa11.1_genomic.gff.gz
data/GCF_000003025.6_Sscrofa11.1_genomic.gtf.gz
src/__pycache__/backend.cpython-310.pyc
*.pyc
src/scripts/bootstrap.min.css
src/scripts/bootstrap.min.js
src/scripts/select2.min.css
src/scripts/select2.min.js
data/dd2.html
data/dd2.kpf
data/dd3.html
data/dd3.kpf
data/GCF_000001635.27_GRCm39_genomic.fna.gz.fxi

data/ddd.tsv
data/ddd.gff
data/ddd.fasta
src/pytrf.cp310-win_amd64.pyd
